In [1]:
## libraries
sys.path.append("../covid_analysis/")
import importlib
import sys
import os
import numpy as np
import pandas as pd 
import seaborn as sns
import logging

## custom libraries

import covid_utils as cu
importlib.reload(cu)

['D:\\ProgramData\\Anaconda3\\envs\\docker\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\aminm\\AppData\\Roaming\\jupyter\\runtime\\kernel-ffeec40d-3254-4000-8af9-2c31581cfa1a.json']
['D:\\ProgramData\\Anaconda3\\envs\\docker\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\aminm\\AppData\\Roaming\\jupyter\\runtime\\kernel-ffeec40d-3254-4000-8af9-2c31581cfa1a.json']

In [2]:
# Add logging feature to capture daily changes
logging.basicConfig(filename="covid_compile.log",
                    format='%(asctime)s %(message)s',
                    filemode='a', level=logging.DEBUG)

# Creating an object
logger = logging.getLogger()

In [6]:
## files and directories
dir_input = '../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/'
file_pattern = '*.csv'

file_census_county = '../data/census2010_19/co-est2019-alldata.csv'

## column names to rename
# ref https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/

column_rename = {'Country/Region':'Country_Region', 'Province/State':'Province_State', 'Last Update':'Last_Update','Latitude':'Lat' , 'Longitude':'Long_'}

In [4]:
# read daily reports

combine_df = cu.read_daily_reports(dir_input, file_pattern, rename_col=column_rename)
logger.info(f'Dim of combine df: {str(combine_df.shape)}')
print(combine_df.head())
print(combine_df.columns)

list_group = ['Country_Region', 'Province_State','Admin2','Last_Update']
list_display = ['Confirmed', 'Deaths']
country_summ = cu.summarize_by_county(combine_df, list_group, list_display)
print(country_summ.head())

Total daily reports: 73
   Active Admin2 Combined_Key  Confirmed  Country_Region  Deaths  FIPS  \
0     NaN    NaN          NaN        1.0  Mainland China     NaN   NaN
1     NaN    NaN          NaN       14.0  Mainland China     NaN   NaN
2     NaN    NaN          NaN        6.0  Mainland China     NaN   NaN
3     NaN    NaN          NaN        1.0  Mainland China     NaN   NaN
4     NaN    NaN          NaN        NaN  Mainland China     NaN   NaN

       Last_Update  Lat  Long_ Province_State  Recovered
0  1/22/2020 17:00  NaN    NaN          Anhui        NaN
1  1/22/2020 17:00  NaN    NaN        Beijing        NaN
2  1/22/2020 17:00  NaN    NaN      Chongqing        NaN
3  1/22/2020 17:00  NaN    NaN         Fujian        NaN
4  1/22/2020 17:00  NaN    NaN          Gansu        NaN
Index(['Active', 'Admin2', 'Combined_Key', 'Confirmed', 'Country_Region',
       'Deaths', 'FIPS', 'Last_Update', 'Lat', 'Long_', 'Province_State',
       'Recovered'],
      dtype='object')
                                                           Confirmed  Deaths
Country_Region Province_State Admin2  Last_Update
US             Alabama        Autauga 2020-03-23 23:19:34        0.0     0.0
                                      2020-03-24 23:37:31        1.0     0.0
                                      2020-03-25 23:33:19        4.0     0.0
                                      2020-03-26 23:48:35        6.0     0.0
                                      2020-03-27 22:14:55        6.0     0.0

In [5]:
## Make update date column
combine_df['Last_Update_date'] = [str(d).split(' ')[0] for d in combine_df['Last_Update']]
combine_df.head()

,Active,Admin2,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Last_Update,Lat,Long_,Province_State,Recovered,Last_Update_date
0,NaN,NaN,NaN,1.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Anhui,NaN,1/22/2020
1,NaN,NaN,NaN,14.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Beijing,NaN,1/22/2020
2,NaN,NaN,NaN,6.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Chongqing,NaN,1/22/2020
3,NaN,NaN,NaN,1.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Fujian,NaN,1/22/2020
4,NaN,NaN,NaN,NaN,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Gansu,NaN,1/22/2020

In [8]:
select_col = ['Country_Region',  'Province_State','Admin2','Last_Update', 'Confirmed', 'Deaths', 'Recovered', 'Last_Update_date']
combine_subset = combine_df[select_col]

In [9]:
country = 'US'
state = ['California','CA']
state = '|'.join(str(x) for x in state)
print(f'Joint state: {state}')

print(combine_subset[(combine_subset['Country_Region']=='US')]['Province_State'].unique())
print(combine_subset[(combine_subset['Province_State'].str.contains(state, na=False))].shape)
print(combine_subset[(combine_subset['Province_State'].str.contains(state, na=False))])

Joint state: California|CA
['Washington' 'Chicago' 'Illinois' 'California' 'Arizona' 'Chicago, IL'
 'Boston, MA' 'Los Angeles, CA' 'Orange, CA' 'Santa Clara, CA'
 'Seattle, WA' 'Tempe, AZ' 'San Benito, CA' 'Madison, WI'
 'San Diego County, CA' 'San Antonio, TX' 'Ashland, NE' 'Travis, CA'
 'Lackland, TX' 'Humboldt County, CA' 'Sacramento County, CA'
 'Omaha, NE (From Diamond Princess)' 'Travis, CA (From Diamond Princess)'
 'Lackland, TX (From Diamond Princess)'
 'Unassigned Location (From Diamond Princess)' 'Portland, OR'
 'Snohomish County, WA' 'Providence, RI' 'King County, WA'
 'Cook County, IL' 'Grafton County, NH' 'Hillsborough, FL'
 'New York City, NY' 'Placer County, CA' 'San Mateo, CA' 'Sarasota, FL'
 'Sonoma County, CA' 'Umatilla, OR' 'Fulton County, GA'
 'Washington County, OR' ' Norfolk County, MA' 'Berkeley, CA'
 'Maricopa County, AZ' 'Wake County, NC' 'Westchester County, NY'
 'Orange County, CA' 'Contra Costa County, CA' 'Bergen County, NJ'
 'Harris County, TX' 'San Francisco County, CA' 'Clark County, NV'
 'Fort Bend County, TX' 'Grant County, WA' 'Queens County, NY'
 'Santa Rosa County, FL' 'Williamson County, TN' 'New York County, NY'
 'Unassigned Location, WA' 'Montgomery County, MD' 'Suffolk County, MA'
 'Denver County, CO' 'Summit County, CO' 'Chatham County, NC'
 'Delaware County, PA' 'Douglas County, NE' 'Fayette County, KY'
 'Floyd County, GA' 'Marion County, IN' 'Middlesex County, MA'
 'Nassau County, NY' 'Norwell County, MA' 'Ramsey County, MN'
 'Washoe County, NV' 'Wayne County, PA' 'Yolo County, CA'
 'Santa Clara County, CA' 'Grand Princess Cruise Ship'
 'Douglas County, CO' 'Providence County, RI' 'Alameda County, CA'
 'Broward County, FL' 'Fairfield County, CT' 'Lee County, FL'
 'Pinal County, AZ' 'Rockland County, NY' 'Saratoga County, NY'
 'Charleston County, SC' 'Clark County, WA' 'Cobb County, GA'
 'Davis County, UT' 'El Paso County, CO' 'Honolulu County, HI'
 'Jackson County, OR ' 'Jefferson County, WA' 'Kershaw County, SC'
 'Klamath County, OR' 'Madera County, CA' 'Pierce County, WA'
 'Plymouth County, MA' 'Santa Cruz County, CA' 'Tulsa County, OK'
 'Montgomery County, TX' 'Norfolk County, MA' 'Montgomery County, PA'
 'Fairfax County, VA' 'Rockingham County, NH' 'Washington, D.C.'
 'Berkshire County, MA' 'Davidson County, TN' 'Douglas County, OR'
 'Fresno County, CA' 'Harford County, MD' 'Hendricks County, IN'
 'Hudson County, NJ' 'Johnson County, KS' 'Kittitas County, WA'
 'Manatee County, FL' 'Marion County, OR' 'Okaloosa County, FL'
 'Polk County, GA' 'Riverside County, CA' 'Shelby County, TN'
 'Spokane County, WA' 'St. Louis County, MO' 'Suffolk County, NY'
 'Ulster County, NY' 'Unassigned Location, VT' 'Unknown Location, MA'
 'Volusia County, FL' 'Johnson County, IA' 'Harrison County, KY'
 'Bennington County, VT' 'Carver County, MN' 'Charlotte County, FL'
 'Cherokee County, GA' 'Collin County, TX' 'Jefferson County, KY'
 'Jefferson Parish, LA' 'Shasta County, CA' 'Spartanburg County, SC'
 'New York' 'Massachusetts' 'Diamond Princess' 'Grand Princess' 'Georgia'
 'Colorado' 'Florida' 'New Jersey' 'Oregon' 'Texas' 'Pennsylvania' 'Iowa'
 'Maryland' 'North Carolina' 'South Carolina' 'Tennessee' 'Virginia'
 'Indiana' 'Kentucky' 'District of Columbia' 'Nevada' 'New Hampshire'
 'Minnesota' 'Nebraska' 'Ohio' 'Rhode Island' 'Wisconsin' 'Connecticut'
 'Hawaii' 'Oklahoma' 'Utah' 'Kansas' 'Louisiana' 'Missouri' 'Vermont'
 'Alaska' 'Arkansas' 'Delaware' 'Idaho' 'Maine' 'Michigan' 'Mississippi'
 'Montana' 'New Mexico' 'North Dakota' 'South Dakota' 'West Virginia'
 'Wyoming' 'Alabama' 'Puerto Rico' 'Virgin Islands, U.S.' 'Guam'
 'Virgin Islands' 'United States Virgin Islands' 'US' 'Wuhan Evacuee'
 'American Samoa' 'Northern Mariana Islands' 'Recovered']
(1033, 8)
      Country_Region Province_State      Admin2          Last_Update  \
204               US     California         NaN        1/26/20 16:00
251               US     California         NaN        1/27/20 23:59
302               US     California         NaN        1/28/20 23:00
354               US     California         NaN        1/29/20 19:30
409               US     California         NaN        1/30/20 16:00
...              ...            ...         ...                  ...
48004             US     California    Tuolumne  2020-04-03 22:46:37
48020             US     California  Unassigned  2020-04-03 22:46:37
48084             US     California     Ventura  2020-04-03 22:46:37
48276             US     California        Yolo  2020-04-03 22:46:37
48283             US     California        Yuba  2020-04-03 22:46:37

       Confirmed  Deaths  Recovered Last_Update_date
204          2.0     NaN        NaN          1/26/20
251          2.0     NaN        NaN          1/27/20
302          2.0     NaN        NaN          1/28/20
354          2.0     NaN        NaN          1/29/20
409          2.0     NaN        NaN          1/30/20
...          ...     ...        ...              ...
48004        2.0     0.0        0.0       2020-04-03
48020        0.0     2.0        0.0       2020-04-03
48084      177.0     6.0        0.0       2020-04-03
48276       33.0     1.0        0.0       2020-04-03
48283        8.0     0.0        0.0       2020-04-03

[1033 rows x 8 columns]

In [10]:
combine_CA = combine_subset[(combine_subset['Province_State'].str.contains(state, na=False))]

combine_CA.groupby(['Last_Update_date']).agg([np.sum]).head()

,Country_Region,Province_State,Admin2,Last_Update,Confirmed,Deaths,Recovered
,sum,sum,sum,sum,sum,sum,sum
Last_Update_date,,,,,,,
1/26/20,US,California,0,1/26/20 16:00,2.0,0.0,0.0
1/27/20,US,California,0,1/27/20 23:59,2.0,0.0,0.0
1/28/20,US,California,0,1/28/20 23:00,2.0,0.0,0.0
1/29/20,US,California,0,1/29/20 19:30,2.0,0.0,0.0
1/30/20,US,California,0,1/30/20 16:00,2.0,0.0,0.0

### Read US census data by county and format

In [12]:
census_df = pd.read_csv(file_census_county, encoding = "ISO-8859-1")
print(f'County sensus file shape:{census_df.shape}')
census_df.head()

County sensus file shape:(3193, 164)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [14]:
state_census_df = census_df.loc[census_df['COUNTY']==0]