In [1]:
## libraries
sys.path.append("../covid_analysis/")
import importlib
import sys
import os
import numpy as np
import pandas as pd 
import seaborn as sns
import logging

## custom libraries

import covid_utils as cu
importlib.reload(cu)

['D:\\ProgramData\\Anaconda3\\envs\\docker\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\aminm\\AppData\\Roaming\\jupyter\\runtime\\kernel-e0776e5d-f087-4aea-9ccb-d30d097fe382.json']
['D:\\ProgramData\\Anaconda3\\envs\\docker\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\aminm\\AppData\\Roaming\\jupyter\\runtime\\kernel-e0776e5d-f087-4aea-9ccb-d30d097fe382.json']

In [2]:
# Add logging feature to capture daily changes
logging.basicConfig(filename="covid_compile.log",
                    format='%(asctime)s %(message)s',
                    filemode='a', level=logging.DEBUG)

# Creating an object
logger = logging.getLogger()

In [3]:
## files and directories
dir_input = '../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/'
file_pattern = '*.csv'

file_census_county = '../data/census2010_19/co-est2019-alldata.csv'

## column names to rename
# ref https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/

column_rename = {'Country/Region':'Country_Region', 'Province/State':'Province_State', 'Last Update':'Last_Update','Latitude':'Lat' , 'Longitude':'Long_'}

## US states abbreviation
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [4]:
# read daily reports

combine_df = cu.read_daily_reports(dir_input, file_pattern, rename_col=column_rename)
logger.info(f'Dim of combine df: {str(combine_df.shape)}')
print(combine_df.head())
print(combine_df.columns)

list_group = ['Country_Region', 'Province_State','Admin2','Last_Update']
list_display = ['Confirmed', 'Deaths']
country_summ = cu.summarize_by_county(combine_df, list_group, list_display)
print(country_summ.head())

Total daily reports: 74
   Active Admin2 Combined_Key  Confirmed  Country_Region  Deaths  FIPS  \
0     NaN    NaN          NaN        1.0  Mainland China     NaN   NaN
1     NaN    NaN          NaN       14.0  Mainland China     NaN   NaN
2     NaN    NaN          NaN        6.0  Mainland China     NaN   NaN
3     NaN    NaN          NaN        1.0  Mainland China     NaN   NaN
4     NaN    NaN          NaN        NaN  Mainland China     NaN   NaN

       Last_Update  Lat  Long_ Province_State  Recovered
0  1/22/2020 17:00  NaN    NaN          Anhui        NaN
1  1/22/2020 17:00  NaN    NaN        Beijing        NaN
2  1/22/2020 17:00  NaN    NaN      Chongqing        NaN
3  1/22/2020 17:00  NaN    NaN         Fujian        NaN
4  1/22/2020 17:00  NaN    NaN          Gansu        NaN
Index(['Active', 'Admin2', 'Combined_Key', 'Confirmed', 'Country_Region',
       'Deaths', 'FIPS', 'Last_Update', 'Lat', 'Long_', 'Province_State',
       'Recovered'],
      dtype='object')
                                                           Confirmed  Deaths
Country_Region Province_State Admin2  Last_Update
US             Alabama        Autauga 2020-03-23 23:19:34        0.0     0.0
                                      2020-03-24 23:37:31        1.0     0.0
                                      2020-03-25 23:33:19        4.0     0.0
                                      2020-03-26 23:48:35        6.0     0.0
                                      2020-03-27 22:14:55        6.0     0.0

In [5]:
## Make update date column
combine_df['Last_Update_date'] = [str(d).split(' ')[0] for d in combine_df['Last_Update']]
combine_df.head()

,Active,Admin2,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Last_Update,Lat,Long_,Province_State,Recovered,Last_Update_date
0,NaN,NaN,NaN,1.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Anhui,NaN,1/22/2020
1,NaN,NaN,NaN,14.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Beijing,NaN,1/22/2020
2,NaN,NaN,NaN,6.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Chongqing,NaN,1/22/2020
3,NaN,NaN,NaN,1.0,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Fujian,NaN,1/22/2020
4,NaN,NaN,NaN,NaN,Mainland China,NaN,NaN,1/22/2020 17:00,NaN,NaN,Gansu,NaN,1/22/2020

In [6]:
select_col = ['Country_Region',  'Province_State','Admin2','Last_Update', 'Confirmed', 'Deaths', 'Recovered', 'Last_Update_date']
combine_subset = combine_df[select_col]

## rename states by abbreviations
combine_subset = combine_subset

In [7]:
country = 'US'
state = ['California','CA']
state = '|'.join(str(x) for x in state)
print(f'Joint state: {state}')

print(combine_subset[(combine_subset['Country_Region']=='US')]['Province_State'].unique())
print(combine_subset[(combine_subset['Province_State'].str.contains(state, na=False))].shape)
print(combine_subset[(combine_subset['Province_State'].str.contains(state, na=False))])

Joint state: California|CA
['Washington' 'Chicago' 'Illinois' 'California' 'Arizona' 'Chicago, IL'
 'Boston, MA' 'Los Angeles, CA' 'Orange, CA' 'Santa Clara, CA'
 'Seattle, WA' 'Tempe, AZ' 'San Benito, CA' 'Madison, WI'
 'San Diego County, CA' 'San Antonio, TX' 'Ashland, NE' 'Travis, CA'
 'Lackland, TX' 'Humboldt County, CA' 'Sacramento County, CA'
 'Omaha, NE (From Diamond Princess)' 'Travis, CA (From Diamond Princess)'
 'Lackland, TX (From Diamond Princess)'
 'Unassigned Location (From Diamond Princess)' 'Portland, OR'
 'Snohomish County, WA' 'Providence, RI' 'King County, WA'
 'Cook County, IL' 'Grafton County, NH' 'Hillsborough, FL'
 'New York City, NY' 'Placer County, CA' 'San Mateo, CA' 'Sarasota, FL'
 'Sonoma County, CA' 'Umatilla, OR' 'Fulton County, GA'
 'Washington County, OR' ' Norfolk County, MA' 'Berkeley, CA'
 'Maricopa County, AZ' 'Wake County, NC' 'Westchester County, NY'
 'Orange County, CA' 'Contra Costa County, CA' 'Bergen County, NJ'
 'Harris County, TX' 'San Francisco County, CA' 'Clark County, NV'
 'Fort Bend County, TX' 'Grant County, WA' 'Queens County, NY'
 'Santa Rosa County, FL' 'Williamson County, TN' 'New York County, NY'
 'Unassigned Location, WA' 'Montgomery County, MD' 'Suffolk County, MA'
 'Denver County, CO' 'Summit County, CO' 'Chatham County, NC'
 'Delaware County, PA' 'Douglas County, NE' 'Fayette County, KY'
 'Floyd County, GA' 'Marion County, IN' 'Middlesex County, MA'
 'Nassau County, NY' 'Norwell County, MA' 'Ramsey County, MN'
 'Washoe County, NV' 'Wayne County, PA' 'Yolo County, CA'
 'Santa Clara County, CA' 'Grand Princess Cruise Ship'
 'Douglas County, CO' 'Providence County, RI' 'Alameda County, CA'
 'Broward County, FL' 'Fairfield County, CT' 'Lee County, FL'
 'Pinal County, AZ' 'Rockland County, NY' 'Saratoga County, NY'
 'Charleston County, SC' 'Clark County, WA' 'Cobb County, GA'
 'Davis County, UT' 'El Paso County, CO' 'Honolulu County, HI'
 'Jackson County, OR ' 'Jefferson County, WA' 'Kershaw County, SC'
 'Klamath County, OR' 'Madera County, CA' 'Pierce County, WA'
 'Plymouth County, MA' 'Santa Cruz County, CA' 'Tulsa County, OK'
 'Montgomery County, TX' 'Norfolk County, MA' 'Montgomery County, PA'
 'Fairfax County, VA' 'Rockingham County, NH' 'Washington, D.C.'
 'Berkshire County, MA' 'Davidson County, TN' 'Douglas County, OR'
 'Fresno County, CA' 'Harford County, MD' 'Hendricks County, IN'
 'Hudson County, NJ' 'Johnson County, KS' 'Kittitas County, WA'
 'Manatee County, FL' 'Marion County, OR' 'Okaloosa County, FL'
 'Polk County, GA' 'Riverside County, CA' 'Shelby County, TN'
 'Spokane County, WA' 'St. Louis County, MO' 'Suffolk County, NY'
 'Ulster County, NY' 'Unassigned Location, VT' 'Unknown Location, MA'
 'Volusia County, FL' 'Johnson County, IA' 'Harrison County, KY'
 'Bennington County, VT' 'Carver County, MN' 'Charlotte County, FL'
 'Cherokee County, GA' 'Collin County, TX' 'Jefferson County, KY'
 'Jefferson Parish, LA' 'Shasta County, CA' 'Spartanburg County, SC'
 'New York' 'Massachusetts' 'Diamond Princess' 'Grand Princess' 'Georgia'
 'Colorado' 'Florida' 'New Jersey' 'Oregon' 'Texas' 'Pennsylvania' 'Iowa'
 'Maryland' 'North Carolina' 'South Carolina' 'Tennessee' 'Virginia'
 'Indiana' 'Kentucky' 'District of Columbia' 'Nevada' 'New Hampshire'
 'Minnesota' 'Nebraska' 'Ohio' 'Rhode Island' 'Wisconsin' 'Connecticut'
 'Hawaii' 'Oklahoma' 'Utah' 'Kansas' 'Louisiana' 'Missouri' 'Vermont'
 'Alaska' 'Arkansas' 'Delaware' 'Idaho' 'Maine' 'Michigan' 'Mississippi'
 'Montana' 'New Mexico' 'North Dakota' 'South Dakota' 'West Virginia'
 'Wyoming' 'Alabama' 'Puerto Rico' 'Virgin Islands, U.S.' 'Guam'
 'Virgin Islands' 'United States Virgin Islands' 'US' 'Wuhan Evacuee'
 'American Samoa' 'Northern Mariana Islands' 'Recovered']
(1085, 8)
      Country_Region Province_State    Admin2          Last_Update  Confirmed  \
204               US     California       NaN        1/26/20 16:00        2.0
251               US     California       NaN        1/27/20 23:59        2.0
302               US     California       NaN        1/28/20 23:00        2.0
354               US     California       NaN        1/29/20 19:30        2.0
409               US     California       NaN        1/30/20 16:00        2.0
...              ...            ...       ...                  ...        ...
50679             US     California    Tulare  2020-04-04 23:34:21       81.0
50682             US     California  Tuolumne  2020-04-04 23:34:21        2.0
50764             US     California   Ventura  2020-04-04 23:34:21      203.0
50954             US     California      Yolo  2020-04-04 23:34:21       37.0
50961             US     California      Yuba  2020-04-04 23:34:21        9.0

       Deaths  Recovered Last_Update_date
204       NaN        NaN          1/26/20
251       NaN        NaN          1/27/20
302       NaN        NaN          1/28/20
354       NaN        NaN          1/29/20
409       NaN        NaN          1/30/20
...       ...        ...              ...
50679     3.0        0.0       2020-04-04
50682     0.0        0.0       2020-04-04
50764     6.0        0.0       2020-04-04
50954     1.0        0.0       2020-04-04
50961     0.0        0.0       2020-04-04

[1085 rows x 8 columns]

In [10]:
combine_CA = combine_subset[(combine_subset['Province_State'].str.contains(state, na=False))]

combine_CA.groupby(['Last_Update_date']).agg([np.sum]).head()

,Country_Region,Province_State,Admin2,Last_Update,Confirmed,Deaths,Recovered
,sum,sum,sum,sum,sum,sum,sum
Last_Update_date,,,,,,,
1/26/20,US,California,0,1/26/20 16:00,2.0,0.0,0.0
1/27/20,US,California,0,1/27/20 23:59,2.0,0.0,0.0
1/28/20,US,California,0,1/28/20 23:00,2.0,0.0,0.0
1/29/20,US,California,0,1/29/20 19:30,2.0,0.0,0.0
1/30/20,US,California,0,1/30/20 16:00,2.0,0.0,0.0

### Read US census data by county and format

In [11]:
## read census data for county

census_df = pd.read_csv(file_census_county, encoding = "ISO-8859-1")
print(f'County sensus file shape:{census_df.shape}')
#print(census_df.head())

## replace state names with abbreviations

census_df = census_df.replace({'STNAME':us_state_abbrev})
census_df.head()

County sensus file shape:(3193, 164)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,AL,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,AL,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,AL,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,AL,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,AL,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [12]:
## State census subset (COUNTY == 0)

state_census_df = census_df.loc[census_df['COUNTY']==0]

In [15]:
## select census column for popolation estimate by for all counties and states
census_columns = ['STATE','COUNTY','STNAME','CTYNAME','POPESTIMATE2019']

census_select_df = census_df[census_columns]
census_select_df['Province_State'] = [y+', '+x for x,y in zip(census_df['STNAME'],census_df['CTYNAME'])]

census_select_df.head()

   STATE  COUNTY STNAME         CTYNAME  POPESTIMATE2019      Province_State
0      1       0     AL         Alabama          4903185         Alabama, AL
1      1       1     AL  Autauga County            55869  Autauga County, AL
2      1       3     AL  Baldwin County           223234  Baldwin County, AL
3      1       5     AL  Barbour County            24686  Barbour County, AL
4      1       7     AL     Bibb County            22394     Bibb County, AL

#### Merge infection and death rate by the county population
- Date 2020-04-04

In [16]:
select_date = '2020-04-04'
combine_selectdf.loc[combine_df['Last_Update'].str.contains(select_date, na=False)]

,Active,Admin2,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Last_Update,Lat,Long_,Province_State,Recovered,Last_Update_date
48552,0.0,Abbeville,"Abbeville, South Carolina, US",6.0,US,0.0,45001.0,2020-04-04 23:34:21,34.223334,-82.461707,South Carolina,0.0,2020-04-04
48553,0.0,Acadia,"Acadia, Louisiana, US",65.0,US,2.0,22001.0,2020-04-04 23:34:21,30.295065,-92.414197,Louisiana,0.0,2020-04-04
48554,0.0,Accomack,"Accomack, Virginia, US",8.0,US,0.0,51001.0,2020-04-04 23:34:21,37.767072,-75.632346,Virginia,0.0,2020-04-04
48555,0.0,Ada,"Ada, Idaho, US",360.0,US,3.0,16001.0,2020-04-04 23:34:21,43.452658,-116.241552,Idaho,0.0,2020-04-04
48556,0.0,Adair,"Adair, Iowa, US",1.0,US,0.0,19001.0,2020-04-04 23:34:21,41.330756,-94.471059,Iowa,0.0,2020-04-04
48557,0.0,Adair,"Adair, Kentucky, US",3.0,US,0.0,21001.0,2020-04-04 23:34:21,37.104598,-85.281297,Kentucky,0.0,2020-04-04
48558,0.0,Adair,"Adair, Missouri, US",10.0,US,0.0,29001.0,2020-04-04 23:34:21,40.190586,-92.600782,Missouri,0.0,2020-04-04
48559,0.0,Adair,"Adair, Oklahoma, US",14.0,US,0.0,40001.0,2020-04-04 23:34:21,35.884942,-94.658593,Oklahoma,0.0,2020-04-04
48560,0.0,Adams,"Adams, Colorado, US",294.0,US,9.0,8001.0,2020-04-04 23:34:21,39.874321,-104.336258,Colorado,0.0,2020-04-04
48561,0.0,Adams,"Adams, Idaho, US",1.0,US,0.0,16003.0,2020-04-04 23:34:21,44.893336,-116.454525,Idaho,0.0,2020-04-04
48562,0.0,Adams,"Adams, Illinois, US",3.0,US,0.0,17001.0,2020-04-04 23:34:21,39.988156,-91.187868,Illinois,0.0,2020-04-04
48563,0.0,Adams,"Adams, Indiana, US",2.0,US,0.0,18001.0,2020-04-04 23:34:21,40.745765,-84.936714,Indiana,0.0,2020-04-04
48564,0.0,Adams,"Adams, Mississippi, US",16.0,US,0.0,28001.0,2020-04-04 23:34:21,31.476698,-91.353260,Mississippi,0.0,2020-04-04
48565,0.0,Adams,"Adams, Nebraska, US",8.0,US,0.0,31001.0,2020-04-04 23:34:21,40.524494,-98.501178,Nebraska,0.0,2020-04-04
48566,0.0,Adams,"Adams,Ohio,US",1.0,US,0.0,39001.0,2020-04-04 23:34:21,38.845411,-83.471896,Ohio,0.0,2020-04-04
48567,0.0,Adams,"Adams, Pennsylvania, US",21.0,US,0.0,42001.0,2020-04-04 23:34:21,39.871404,-77.216103,Pennsylvania,0.0,2020-04-04
48568,0.0,Adams,"Adams, Washington, US",20.0,US,0.0,53001.0,2020-04-04 23:34:21,46.982998,-118.560173,Washington,0.0,2020-04-04
48569,0.0,Adams,"Adams, Wisconsin, US",1.0,US,0.0,55001.0,2020-04-04 23:34:21,43.969747,-89.767828,Wisconsin,0.0,2020-04-04
48570,0.0,Addison,"Addison, Vermont, US",34.0,US,0.0,50001.0,2020-04-04 23:34:21,44.032173,-73.141309,Vermont,0.0,2020-04-04
48571,0.0,Aiken,"Aiken, South Carolina, US",24.0,US,1.0,45003.0,2020-04-04 23:34:21,33.543380,-81.636454,South Carolina,0.0,2020-04-04
48572,0.0,Alachua,"Alachua, Florida, US",116.0,US,0.0,12001.0,2020-04-04 23:34:21,29.678665,-82.359282,Florida,0.0,2020-04-04
48573,0.0,Alamance,"Alamance, North Carolina, US",16.0,US,0.0,37001.0,2020-04-04 23:34:21,36.043470,-79.399761,North Carolina,0.0,2020-04-04
48574,0.0,Alameda,"Alameda, California, US",443.0,US,12.0,6001.0,2020-04-04 23:34:21,37.646294,-121.892927,California,0.0,2020-04-04
48575,0.0,Alamosa,"Alamosa, Colorado, US",4.0,US,0.0,8003.0,2020-04-04 23:34:21,37.572506,-105.788545,Colorado,0.0,2020-04-04
48576,0.0,Albany,"Albany, New York, US",293.0,US,6.0,36001.0,2020-04-04 23:34:21,42.600603,-73.977239,New York,0.0,2020-04-04
48577,0.0,Albany,"Albany, Wyoming, US",4.0,US,0.0,56001.0,2020-04-04 23:34:21,41.654987,-105.723541,Wyoming,0.0,2020-04-04
48578,0.0,Albemarle,"Albemarle, Virginia, US",27.0,US,0.0,51003.0,2020-04-04 23:34:21,38.020807,-78.554811,Virginia,0.0,2020-04-04
48579,0.0,Alcorn,"Alcorn, Mississippi, US",6.0,US,0.0,28003.0,2020-04-04 23:34:21,34.880845,-88.579962,Mississippi,0.0,2020-04-04
48580,0.0,Alexander,"Alexander, North Carolina, US",2.0,US,0.0,37003.0,2020-04-04 23:34:21,35.922380,-81.177519,North Carolina,0.0,2020-04-04
48581,0.0,Alexandria,"Alexandria, Virginia, US",68.0,US,0.0,51510.0,2020-04-04 23:34:21,38.814003,-77.081831,Virginia,0.0,2020-04-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51201,876.0,NaN,Slovenia,977.0,Slovenia,22.0,NaN,2020-04-04 23:34:04,46.151200,14.995500,NaN,79.0,2020-04-04
51202,6.0,NaN,Somalia,7.0,Somalia,0.0,NaN,2020-04-04 23:34:04,5.152149,46.199616,NaN,1.0,2020-04-04
51203,1481.0,NaN,South Africa,1585.0,South Africa,9.0,NaN,2020-04-04 23:34:04,-30.559500,22.937500,NaN,95.0,2020-04-04
51204,80002.0,NaN,Spain,126168.0,Spain,11947.0,NaN,2020-04-04 23:34:04,40.463667,-3.749220,NaN,34219.0,2020-04-04
51205,134.0,NaN,Sri Lanka,166.0,Sri Lanka,5.0,NaN,2020-04-04 23:34:04,7.873054,80.771797,NaN,27.0,2020-04-04
51206,6.0,NaN,Sudan,10.0,Sudan,2.0,NaN,2020-04-04 23:34:04,12.862800,30.217600,NaN,2.0,2020-04-04
51207,9.0,NaN,Suriname,10.0,Suriname,1.0,NaN,2020-04-04 23:34:04,3.919300,-56.027800,NaN,0.0,2020-04-04
51208,5865.0,NaN,Sweden,6443.0,Sweden,373.0,NaN,2020-04-04 23:34:04,60.128161,18.643501,NaN,205.0,2020-04-04
51209,13424.0,NaN,Switzerland,20505.0,Switzerland,666.0,NaN,2020-04-04 23:34:04,46.818200,8.227500,NaN,6415.0,2020-04-04
51210,12.0,NaN,Syria,16.0,Syria,2.0,NaN,2020-04-04 23:34:04,34.802075,38.996815,NaN,2.0,2020-04-04
51211,300.0,NaN,Taiwan*,355.0,Taiwan*,5.0,NaN,2020-04-04 11:36:49,23.700000,121.000000,NaN,50.0,2020-04-04
51212,16.0,NaN,Tanzania,20.0,Tanzania,1.0,NaN,2020-04-04 23:34:04,-6.369028,34.888822,NaN,3.0,2020-04-04
51213,1373.0,NaN,Thailand,2067.0,Thailand,20.0,NaN,2020-04-04 23:34:04,15.870032,100.992541,NaN,674.0,2020-04-04
51214,1.0,NaN,Timor-Leste,1.0,Timor-Leste,0.0,NaN,2020-04-04 23:34:04,-8.874217,125.727539,NaN,0.0,2020-04-04
51215,21.0,NaN,Togo,41.0,Togo,3.0,NaN,2020-04-04 23:34:04,8.619500,0.824800,NaN,17.0,2020-04-04
51216,96.0,NaN,Trinidad and Tobago,103.0,Trinidad and Tobago,6.0,NaN,2020-04-04 23:34:04,10.691800,-61.222500,NaN,1.0,2020-04-04
51217,530.0,NaN,Tunisia,553.0,Tunisia,18.0,NaN,2020-04-04 23:34:04,33.886917,9.537499,NaN,5.0,2020-04-04
51218,22647.0,NaN,Turkey,23934.0,Turkey,501.0,NaN,2020-04-04 23:34:04,38.963700,35.243300,NaN,786.0,2020-04-04
51219,48.0,NaN,Uganda,48.0,Uganda,0.0,NaN,2020-04-04 23:34:04,1.373333,32.290275,NaN,0.0,2020-04-04
51220,1168.0,NaN,Ukraine,1225.0,Ukraine,32.0,NaN,2020-04-04 23:34:04,48.379400,31.165600,NaN,25.0,2020-04-04
51221,1370.0,NaN,United Arab Emirates,1505.0,United Arab Emirates,10.0,NaN,2020-04-04 23:34:04,23.424076,53.847818,NaN,125.0,2020-04-04
51222,37455.0,NaN,United Kingdom,41903.0,United Kingdom,4313.0,NaN,2020-04-04 23:34:04,55.378100,-3.436000,NaN,135.0,2020-04-04
51223,302.0,NaN,Uruguay,400.0,Uruguay,5.0,NaN,2020-04-04 23:34:04,-32.522800,-55.765800,NaN,93.0,2020-04-04
51224,239.0,NaN,Uzbekistan,266.0,Uzbekistan,2.0,NaN,2020-04-04 23:34:04,41.377491,64.585262,NaN,25.0,2020-04-04
51225,96.0,NaN,Venezuela,155.0,Venezuela,7.0,NaN,2020-04-04 23:34:04,6.423800,-66.589700,NaN,52.0,2020-04-04
51226,150.0,NaN,Vietnam,240.0,Vietnam,0.0,NaN,2020-04-04 23:34:04,14.058324,108.277199,NaN,90.0,2020-04-04
51227,195.0,NaN,West Bank and Gaza,217.0,West Bank and Gaza,1.0,NaN,2020-04-04 23:34:04,31.952200,35.233200,NaN,21.0,2020-04-04
51228,36.0,NaN,Zambia,39.0,Zambia,1.0,NaN,2020-04-04 23:34:04,-13.133897,27.849332,NaN,2.0,2020-04-04
51229,8.0,NaN,Zimbabwe,9.0,Zimbabwe,1.0,NaN,2020-04-04 23:34:04,-19.015438,29.154857,NaN,0.0,2020-04-04
51230,0.0,unassigned,"unassigned, Wyoming, US",0.0,US,0.0,NaN,2020-04-04 23:34:21,NaN,NaN,Wyoming,0.0,2020-04-04